<!-- views/partials/head.ejs -->
<meta charset="UTF-8">

<title><%= title %></title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/usuario/usuario.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">




 <!-- Incluir AngularJS -->
 
 <script src="/js/lib/angular.min.js"></script>
 <script src="/js/lib/angular.route.js"></script>

 <script src="/js/app.js"></script>

 <!------ controladores---------->


<script src="/js/controladores/inicioCtrl.js"></script>
<script src="/js/controladores/perfilCtrl.js"></script>
<script src="/js/controladores/usuarioCtrl.js"></script>
 <script src="/js/controladores/lista_usuarioCtrl.js"></script>

 
