

<!DOCTYPE html>
<html ng-app="appcontrol">
<head>
    <%- include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <% include partials/usuario/usuario %>
    </div>


</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>